<h1>New Filter</h1>

<% form_for([@account, @query_filter]) do |f| %>
  <%= f.error_messages %>

  <p>
	Filter name: <%= f.text_field "filter_name"%>
  </p>
  <p>
	Filter for: <%= f.text_field "query"%><br> 
	Examples: foo, foo OR bar, #foo AND bar
  </p>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', account_query_filters_path(@account) %>
