<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Trig.gr</title>
  <%= stylesheet_link_tag 'triggr' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="header">
	    <h1 id="logo"><a href="/accounts">Trig.gr</a></h1>
	    <div class="navactions"><ul class="nav">
	      <li>
	      <form id="search-form" action="/messages/search" method="get"><fieldset>
	        <input type="text" id="search" name="q" />
	        <input type="submit" value="search" />
	      </fieldset></form>
	      </li>
		  <li><%= link_to 'Manage Accounts', manage_accounts_path %> |</li>
	      <li><%= link_to 'Logout', :controller => 'sessions', :action => 'logout'%></li>
	    </ul></div>
	  </div>
    </div>
	<div class="container subpage">

		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield  %>
	 </div>
</body>
</html>
