<script>
/*-----------------------------------------------------------
    Toggles element's display value
    Input: any number of element id's
    Output: none 
    ---------------------------------------------------------*/
function toggleDisp() {
    for (var i=0;i<arguments.length;i++){
        var d = $(arguments[i]);
        if (d.style.display == 'none')
            d.style.display = 'block';
        else
            d.style.display = 'none';
    }
}
/*-----------------------------------------------------------
    Toggles tabs - Closes any open tabs, and then opens current tab
    Input:     1.The number of the current tab
                    2.The number of tabs
                    3.(optional)The number of the tab to leave open
                    4.(optional)Pass in true or false whether or not to animate the open/close of the tabs
    Output: none 
    ---------------------------------------------------------*/
currentTab = 0;
function toggleTab(num,numelems,opennum,animate) {
    if (currentTab != num){
        for (var i=1;i<=numelems;i++){
            if ((opennum == null) || (opennum != i)){
                var temph = 'tabHeader'+i;
                var h = $(temph);
                if (!h){
                    var h = $('tabHeaderActive');
                    h.id = temph;
                }
            }
        }
        var h = $('tabHeader'+num);
        if (h)
            h.id = 'tabHeaderActive';
        h.blur();
        // if (animate || typeof animate == 'undefined'){
        //     Effect.toggle('tabContent'+num,'blind',{duration:0.5, queue:{scope:'menus', position:'end', limit: 3}});
        // }else{
        //     toggleDisp('tabContent'+num);
        // }
    }
}

function switchGroup(tabIdx, groupId) {
	toggleTab(tabIdx, <%= @filters.size %>)
	updateContentPane(groupId, true);
}
function switchFilter(tabIdx, filterId) {
	toggleTab(tabIdx, <%= @filters.size %>)
	updateContentPane(filterId, false);
}
function updateContentPane(groupId, isGroup) {
	if (isGroup) {
		new Ajax.Updater('group-content', 
					'/accounts/<%= @account.id%>/groups/' + groupId, 
					{asynchronous:true, evalScripts:true, method:'get'}); 
	} else {
		new Ajax.Updater('group-content', 
					'/accounts/<%= @account.id%>/query_filters/' + groupId, 
					{asynchronous:true, evalScripts:true, method:'get'}); 
	}
	return false;
}
</script>
<form action="/accounts/view" method="get">
	Twitter Account: 
	<select id="account_id" name="id" onchange="this.form.submit();">
		<% for account in current_user.accounts do -%>
		<option <%= account.id == @account.id ? 'selected' : '' %> value="<%= account.id%>"><%=h account.login %></option>
		<% end %>
	</select>
</form>	
	
<% default_tab_idx = 1 if (@account.last_group_id.nil? or @account.last_group_id == 0) %>
<div class="tabs" id="group-list">
<h3>Groups</h3>
<ul>
<% i=1; for filter in @filters %>
  <% default_tab_idx = i if @account.last_group_id == filter.id %>
  <li class="group-toggle" id="tabHeader<%= i%>">
	<%= render :partial => filter.type.downcase, :locals => {:filter => filter, :i => i} %>
  </li>
<% i=i+1; end if @filters && !@filters.empty? %>
</ul>
<%= link_to image_tag('new_group.png', {:title => 'New Group'}), new_account_group_path(@account) %> |
<%= link_to image_tag('new_group.png', {:title => 'New Filter'}), new_account_query_filter_path(@account) %>
</div>

<span id='loading'>
Loading...
</span>

<div id="group-content">
</div>
<script>
document.observe("dom:loaded", function() {
	$('loading').hide();
	Ajax.Responders.register({
		onCreate: function() {
			new Effect.Opacity('group-content', { from: 1.0, to: 0.3, duration: 0.3 });
			$('loading').appear();
		},
		onComplete: function() {
			new Effect.Opacity('group-content', { from: 0.3, to: 1, duration: 0.3 });
			$('loading').hide();
		}
	});
	switchGroup(<%= default_tab_idx%>, <%= @account.last_group_id%>);
});
</script>